<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.educational.manage.db.mapper.MdteacherMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.educational.manage.db.entity.MdteacherEntity" id="mdteacherMap">
        <result property="muid" column="Muid"/>
        <result property="id" column="Id"/>
        <result property="mdid" column="Mdid"/>
    </resultMap>


</mapper>