<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.educational.manage.db.mapper.ScoreMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.educational.manage.db.entity.ScoreEntity" id="scoreMap">
        <result property="scid" column="Scid"/>
        <result property="id" column="id"/>
        <result property="muid" column="Muid"/>
        <result property="endgrade" column="Endgrade"/>
    </resultMap>


</mapper>