<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.educational.manage.db.mapper.UserstyleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.educational.manage.db.entity.UserstyleEntity" id="userstyleMap">
        <result property="userstyleid" column="Userstyleid"/>
        <result property="userstylename" column="Userstylename"/>
        <result property="permission" column="Permission"/>
    </resultMap>


</mapper>